@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Noto+Sans&display=swap');


.wrapper {
  width: 800px;
  max-width: 90%;
  margin: auto;
}

#bunny {
  width: 90%;
  margin: 10px;
}

.btn-primary {
  margin: 10px;
}

#nameInput {
  margin-bottom: 10px;
}

h1 {
  font-family: 'Notable', sans-serif;
  text-align: center;
}

h3, input {
  font-family: 'Noto Sans', sans-serif;
}

#pet, #feed {
  font-family: 'Noto Sans', sans-serif;
}